* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* :root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --mainBlack: #505050;
} */

@font-face {
  font-family: "GillSansBook";
  src: url("./fonts/GillSansBook.eot");
  src: url("./fonts/GillSansBook.eot?#iefix") format("embedded-opentype"),
    url("./fonts/GillSansBook.woff2") format("woff2"),
    url("./fonts/GillSansBook.woff") format("woff"),
    url("./fonts/GillSansBook.ttf") format("truetype"),
    url("./fonts/GillSansBook.otf") format("opentype"),
    url("./fonts/GillSansBook.svg#Gill Sans Nova Book") format("svg");
}

@font-face {
  font-family: "GillSansMedium";
  src: url("./fonts/GillSansMedium.eot");
  src: url("./fonts/GillSansMedium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/GillSansMedium.woff2") format("woff2"),
    url("./fonts/GillSansMedium.woff") format("woff"),
    url("./fonts/GillSansMedium.ttf") format("truetype"),
    url("./fonts/GillSansMedium.otf") format("opentype"),
    url("./fonts/GillSansMedium.svg#Gill Sans Nova Medium") format("svg");
}

@font-face {
  font-family: "GilroyBold";
  src: url("./fonts/GilroyBold.eot");
  src: url("./fonts/GilroyBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/GilroyBold.woff2") format("woff2"),
    url("./fonts/GilroyBold.woff") format("woff"),
    url("./fonts/GilroyBold.ttf") format("truetype"),
    url("./fonts/GilroyBold.svg#Gilroy-Bold") format("svg");
}

body {
  color: #757575 !important;
  background-color: #f7f7f7 !important;
  font-family: "GillSansBook";
  line-height: 1.5;
  letter-spacing: 1.3px;
}
p {
  font-size: 1.1em;
  line-height: 1.5;
  letter-spacing: 1.3px;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.2em;
  font-family: "GilroyBold";
}
h2 {
  font-size: 2em;
  margin-bottom: 0.4em;
  font-family: "GilroyBold";
  letter-spacing: 3.45px;
  color: #505050 !important;
}

h3 {
  font-size: 1.2em !important;
  margin-bottom: 0.75em;
  font-family: "GilroyBold";
  letter-spacing: 2.45px;
  color: #505050 !important;
}

/* @font-face {
  font-family: "GillSansMedium";
  src: url("./fonts/GillSansMedium.otf") format("opentype");
}

@font-face {
  font-family: "GillSansMediumItalic";
  src: url("./fonts/GillSansMediumItalic.otf") format("opentype");
}

@font-face {
  font-family: "GilroyBold";
  src: url("./fonts/GilroyBold.ttf") format("truetype");
} */

.overlay {
  background-color: #313e5d;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.single-overlay {
  background-color: #504c35;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.overlay-image {
  background-color: #242424;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.container {
  margin-top: 4.5rem;
  margin-bottom: 9.5rem;
}

.container-left {
  padding: 4.4rem 8% 4.8rem 8% !important;
}

.container-right {
  padding: 4.4rem 8% 4.8rem 8% !important;
}

.accent-background {
  background-color: #504c35;
}

.accent-p p {
  color: #ffffff !important;
  opacity: 0.7 !important;
  font-family: "GillSansMedium" !important;
  font-size: 1.15rem !important;
}

.accent-facility p {
  color: #ffffff !important;
  opacity: 0.7 !important;
  font-family: "GillSansMedium" !important;
  font-size: 1.3rem !important;
}

@media (max-width: 992px) {
  header {
    margin-top: 0 !important;
  }

  .company-featured-image {
    display: none;
  }
}

@media (min-width: 992px) {
  .company-featured-image {
    width: 29rem;
  }
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.single-property-row p {
  font-family: "GillSansMedium";
  font-size: 1.15rem;
}

.column-style-2 {
  background-color: #1c2527;
}

.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-property-title h2 {
  text-align: left;
}

.single-property-gallery {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.single-property-gallery-carousel {
  height: 700px;
  width: 100%;
}

@media (max-width: 992px) {
  .single-property-gallery-carousel {
    height: 500px;
  }
}

@media (max-width: 550px) {
  .single-property-gallery-carousel {
    height: 400px;
  }
}

.single-property-gallery-carousel .carousel-inner {
  height: 100%;
  width: 100%;
}

.single-property-gallery-carousel .carousel-item {
  height: 100%;
  width: 100%;
}

.single-property-gallery-carousel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.facility-title {
  width: 100%;
}

.facility {
  width: 100%;
}

.facility p {
  margin-bottom: 0.2rem !important;
}

.vertical-align {
  -webkit-align-items: center;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.citieslist-center {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

.city {
  /* height: 15rem;
  width: 21.5rem; */
  transition: all 0.5s ease;
}

/* .city:hover {
  width: 22rem;
} */

@media (min-width: 992px) {
  .city {
    height: 18rem;
    width: 30rem;
  }
}

@media (max-width: 992px) {
  .city {
    height: 18rem;
    width: 30rem;
  }
}

@media (max-width: 600px) {
  .city {
    height: 17rem;
    width: 24rem;
  }
}

@media (max-width: 450px) {
  .city {
    height: 14.5rem;
    width: 20rem;
  }
}

.property {
  height: 29.75rem;
  width: 21.5rem;
  background-color: #efefef;
  transition: all 0.5s ease;
}

.company {
  height: auto;
  width: 100%;
  background-color: #efefef;
  transition: all 0.5s ease;
}

.company .col,
.col-auto {
  padding: 0 !important;
}

/* .property:hover {
  width: 22rem;
} */

.city-margin {
  margin: 0 1rem 1.5rem 1rem !important;
}

.property-margin {
  margin: 0 1rem 1.5rem 1rem !important;
}

.grid-listing a:hover,
active,
visited {
  text-decoration: none;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px !important;
  }
}

.city-grid-title {
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-size: 25px; */
  font-size: 27px;
  color: #ffffff;
  font-family: "GilroyBold" !important;
  letter-spacing: 3px;
}

.property-grid-content {
  padding: 1.2rem 1.8rem 1.8rem 1.8rem;
}

.property-grid-title {
  float: left;
  font-size: 17px;
  font-family: "GilroyBold" !important;
  letter-spacing: 2px;
  color: #444444;
  width: 100%;
  margin-bottom: 0.2rem;
}

.property-grid-desc {
  font-size: 16px;
  font-family: "GillSansMedium" !important;
  color: #757575;
  opacity: 0.8;
  width: 17.900625rem !important;
  display: inline-block;
}

.company-grid-content {
  padding: 2rem 3rem 2rem 3rem;
}

.company-grid-title {
  float: left;
  font-size: 21px;
  font-family: "GilroyBold" !important;
  letter-spacing: 2px;
  color: #444444;
  width: 100%;
  margin-bottom: 0.2rem;
}

.company-grid-desc {
  font-size: 17px;
  font-family: "GillSansMedium" !important;
  color: #757575;
  opacity: 0.8;
  width: 70% !important;
  display: inline-block;
}

@media (min-width: 992px) {
  .company-grid-desc {
    width: 70% !important;
  }
}

@media (max-width: 992px) {
  .company-grid-desc {
    width: 100% !important;
  }
}

.section-title {
  /* text-align: center; */
  margin-bottom: 3rem;
}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.banner {
  display: inline-block;
  color: #ffffff;
  padding: 2rem 1rem;
  text-align: center;
  letter-spacing: 3px;
}

.banner h1 {
  font-size: 2.5rem;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-family: "GillSansMedium";
  font-size: 1.5rem;
  letter-spacing: 4px;
}

.flex-item-sf h1 {
  font-size: 2.5rem;
}

.experience-link:hover h1 {
  font-size: 2.55rem;
}

@media screen and (max-width: 576px) {
  .flex-item-sf h1 {
    font-size: 2rem;
  }

  .experience-link:hover h1 {
    font-size: 2.1rem !important;
  }
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 3.3rem;
    letter-spacing: 0.25rem;
  }
}

.form-control.contact-input {
  background-color: #e6e6e6;
  border: none;
  padding: 0.6rem 1.2rem;
  height: auto;
  font-family: "GillSansMedium" !important;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.form-control.contact-input:focus {
  background-color: #e6e6e6 !important;
  box-shadow: none !important;
  border: none !important;
}

.btn.btn-primary.contact-button {
  background-color: #e6e6e6;
  border: none;
  padding: 0.5rem 2.2rem;
  border-radius: 25px;
  color: #495057;
  font-family: "GillSansMedium" !important;
  font-size: 1.1rem;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.btn-primary.contact-button:focus {
  background-color: #e6e6e6;
  box-shadow: none;
  border: none;
}

.btn-primary.contact-button:hover {
  background-color: #495057;
  box-shadow: none;
  border: none;
  color: #ffffff;
}

.city {
  border-radius: 8px;
  overflow: hidden;
}

.property {
  border-radius: 8px;
  overflow: hidden;
}

.company {
  border-radius: 8px;
  overflow: hidden;
}

.preloader {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

.loading {
  height: 100%;
  width: 100%;
}
